# Godot 4+ specific ignores
.godot/
/android/*
!/android/build/
/android/build/*
!/android/build/config.gradle
!/android/build/build.gradle
!/android/build/gradle/
/android/build/gradle/*
!/android/build/gradle/wrapper/
/android/build/gradle/wrapper/*
!/android/build/gradle/wrapper/gradle-wrapper.properties
*.apk
*.aab
*.apk.idsig
/build/
*.jks
*.keystore
